<h1>Nueva Venta</h1>

<%= form_with(model: @sale, local: true, data: { controller: "sale-form" }) do |form| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@sale.errors.count, "error") %> impide que esta venta se guarde:</h2>
            <ul>
            <% @sale.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :realization_date %>
        <%= form.date_field :realization_date %>
    </div>

    <div class="field">
        <%= form.label :customer_dni, "DNI del Cliente" %>
        <%= form.text_field :customer_dni %>
    </div>

    <div class="field">
        <%= form.label :customer_name, "Nombre del Cliente" %>
        <%= form.text_field :customer_name %>
    </div>

    <div class="field">
        <%= form.label :employee_id, "Empleado" %>
        <%= form.collection_select :employee_id, User.all, :id, :username %>
    </div>

    <h3>Productos</h3>
    <div data-sale-form-target="productList">
    <%= form.fields_for :product_sales do |product_sale_form| %>
        <div class="nested-fields">
            <div class="field">
                <%= product_sale_form.label :product_id, "Producto" %>
                <%= product_sale_form.collection_select :product_id, Product.all, :id, :name %>
            </div>

            <div class="field">
                <%= product_sale_form.label :amount_sold, "Cantidad vendida" %>
                <%= product_sale_form.number_field :amount_sold %>
            </div>

            <div class="field">
                <%= product_sale_form.label :total_amount, "Monto total" %>
                <%= product_sale_form.number_field :total_amount, step: 0.01 %>
            </div>

        </div>
    <% end %>
    <a href="#" data-action="click->sale-form#addProduct" data-sale-form-target="addButton" class="add_fields">Agregar producto</a>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Volver', sales_path %>

