<h1>Productos</h1>

<%= link_to 'Nuevo Producto', new_admin_product_path %>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.unit_price %></td>
        <td>
          <%= link_to 'Ver', admin_product_path(product) %> |
          <%= link_to 'Editar', edit_admin_product_path(product) %> |
          <%= form_with(model: product, url: admin_product_path(product), method: :delete, local: true) do |form| %>
            <%= form.submit 'Eliminar', data: { confirm: '¿Estás seguro de que quieres eliminar este producto?' }, class: 'delete-btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>