<%= render 'shared/navbar_private' %>

<div class="login-main-container">
  <div class="login-container" style="width: 40%;">
    <div class="divisor">
      <div>
        <h1><%= @product.name %></h1>
        <p><strong>Descripción:</strong> <%= @product.description %></p>
        <p><strong>Stock Disponible:</strong> <%= @product.available_stock %></p>
        <p><strong>Precio:</strong> <%= @product.unit_price %></p>
        <p><strong>Tamaño:</strong> <%= @product.size %></p>
        <p><strong>Color:</strong> <%= @product.color %></p>
        <p><strong>Fecha de Entrada:</strong> <%= @product.entry_date.strftime("%d/%m/%Y") %></p>
        <p><strong>Categorías:</strong></p>
        <ul>
          <% @product.categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="swiffy-slider" style="width: 50%;">
        <ul class="slider-container">
          <% @product.images.each do |image| %>
            <li style="display: flex; justify-content: center;"><%= image_tag image.variant(resize_to_limit: [300, 300]) %>
          <% end %></li>
        </ul>

        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>

        <div class="slider-indicators">
          <button class="active"></button>
          <% (@product.images.size - 1).times do %>
            <button></button>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to 'Volver', admin_products_path, class: "btn" %>
    <%= link_to 'Editar', edit_admin_product_path(@product), class: "btn" %>

  </div>
</div>
