<h1><%= @product.name %></h1>
<p><strong>Descripción:</strong> <%= @product.description %></p>
<p><strong>Stock Disponible:</strong> <%= @product.available_stock %></p>
<p><strong>Precio:</strong> <%= @product.unit_price %></p>
<p><strong>Tamaño:</strong> <%= @product.size %></p>
<p><strong>Color:</strong> <%= @product.color %></p>
<p><strong>Fecha de Entrada:</strong> <%= @product.entry_date %></p>
<p><strong>Categorías:</strong></p>
<ul>
  <% @product.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<% @product.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
<% end %>


<%= link_to 'Volver', admin_products_path %>
<%= link_to 'Editar', edit_admin_product_path(@product) %>
