<%= render 'shared/navbar_private' %>
<div class="new-form-container">

    <%= form_with(model: @user, url: admin_user_path(@user), local: true, class: "new-form") do |form| %>
        <h1>Editar usuario</h1>
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> impide que este usuario se guarde:</h2>
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="new-field">
            <%= form.label :username %>
            <%= form.text_field :username %>
        </div>

        <div class="new-field">
            <%= form.label :email %>
            <%= form.email_field :email %>
        </div>

        <div class="new-field">
            <%= form.label :phone %>
            <%= form.text_field :phone %>
        </div>

        <div class="new-field">
            <%= form.label :entry_date %>
            <%= form.date_field :entry_date %>
        </div>

        <div class="new-field">
            <%= form.label :role, "Rol" %>
            <% if @user.has_role?(:admin) || !current_user.can_manage_users? %>
                <%= form.text_field :role_ids, value: @user.roles.first.name.titleize, disabled: true %>
            <% else %>
                <%= form.collection_select :role_ids, Role.all.map { |r| [r.name.titleize, r.id] }, :second, :first, prompt: "Selecciona un rol" %>
            <% end %>
        </div>

        <div class="new-actions">
            <%= link_to 'Volver', admin_users_path, class: "btn" %>
            <%= form.submit "Actualizar", class: "btn" %>
        </div>
    <% end %>


</div>