<%= render 'shared/navbar_private' %>

<div class="login-main-container">
  <div class="login-container" style="width: 20%;">
    <h1><%= @user.username %></h1>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= @user.phone %>
    </p>

    <p>
      <strong>Fecha de ingreso:</strong>
      <%= @user.entry_date.strftime("%d/%m/%Y") %>
    </p>

    <p>
        <p><strong>Rol:</strong> <%= @user.roles.first&.name&.titleize || "Sin rol asignado" %></p>
    </p>

    <div class="new-actions">
      <%= link_to 'Volver', admin_users_path, class: "btn" %>
      <%= link_to 'Editar', edit_admin_user_path(@user), class: "btn" %>
    </div>
  </div>
</div>